.second-box {
    width: 100px;
    height: 100px;
    background: skyblue;
    margin-top: 20px;
    transform: rotate(45deg);
}

.second-img {
    width: 300px;
    height: 300px;
    background: url('./resource/2.png');
    margin-top: 20px;
    background-color: aqua;
}

.aaa {
    background-color: yellow;;
}